* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "gilroy";
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
  height: 100vh;
}
#back {
  width: 100%;
  height: 100vh;
}
#back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#top {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
#workingarea {
  position: relative;
  margin: 0 auto;
  width: 80%;
  height: 100vh;
  max-width: 1920px;
}
#workingarea > img {
  display: none;
  position: absolute;
}
#nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
#nav img {
  height: 5rem;
}
#nleft,
#nright {
  display: flex;
  align-items: center;
  gap: 3rem;
}

#nav a {
  pointer-events: all;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
.burger-menu {
  display: none;
  pointer-events: all;
}
#full {
  height: 100%;
  width: 50%;
  position: absolute;
  background-color: rgb(238, 231, 231);
  top: 0%;
  z-index: 10;
  left: -100%;
  padding: 5rem 2rem;
}
#full a {
  color: rgb(110, 97, 97);
  text-decoration: none;
  display: block;
  margin-bottom: 1rem;
  font-size: 3rem;
  line-height: 5rem;
  pointer-events: all;
}
#full i {
  position: absolute;
  top: 5%;
  right: 10%;
  font-size: 2rem;
  font-weight: 500;
  color: white;
  background-color: black;
  border-radius: 50%;
  padding: 0.2rem;
  cursor: pointer;
  pointer-events: all;
}
#full i:hover {
  color: white;
}
#full button:hover,
#full a:hover,
#full a:focus {
  color: black;

  transition: ease-in-out 0.5s;
}

#hero {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* flex-wrap: wrap; */
}
#heroleft {
  /* min-width: 50%; */
  width: 50%;
}
#heroleft .elem {
  position: relative;
  height: 20%;
  overflow: hidden;
}
#heroleft .elem h1 {
  position: absolute;
  top: 100%;
  left: 0;
  line-height: 0.9;
  font-family: "kajiro";
  color: white;
  font-weight: 100;
  font-size: 8rem;
}
#heroleft .elem h1:nth-child(1) {
  top: 0;
}
#heroleft button {
  pointer-events: all;
  cursor: pointer;
  padding: 0.3vw 2vw;
  font-size: 2rem;
  font-family: "kajiro";
  margin-top: 2rem;
  letter-spacing: 0.1vw;
  border: transparent;
}
#heroright {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 17%;
  color: white;
}
#heroright p {
  text-align: right;
  font-size: 1rem;
  font-weight: 300;
}
#heroright p:nth-child(3) {
  margin-bottom: 4rem;
}
#heroright #imagediv {
  width: 100%;
  height: 170px;
  margin-top: 1rem;
  margin-bottom: 3rem;
  background-image: url(https://images.unsplash.com/photo-1577806934037-32d94e326e84?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8ODd8fHBvcnRyYWl0fGVufDB8fDB8fHww);

  background-position: center;
  background-size: cover;
}


@media screen and (max-width: 647px) {
  #full a {
    font-size: 1.8rem;
    line-height: 3rem;
  }
}

@media screen and (max-width: 1380px) {
  #workingarea img{
    height: 5rem;
    display: block;
    margin-top: 1rem;
  }
  #nav {
    display: none;
  }
  .burger-menu {
    display: block;
    position: fixed;
    top: 0;
    right: 20px;
    z-index: 2;
    cursor: pointer;
    color: white;
    font-size: 30px;
  }

  .burger-menu:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  #workingarea {
    width: 95%;
  }
  #heroleft .elem {
    top: 10%;
    height: 22%;
  }
  #heroleft button {
    font-size: 1.5rem;

    margin-top: 5rem;
  }
  #heroright {
    width: 20%;
  }
}

@media screen and (max-width: 1000px) {
  #heroleft .elem {
    top: 20%;
    height: 19%;
  }
  #heroleft .elem h1 {
    font-size: 5rem;
  }
  #heroleft button {
    margin-top: 6rem;
  }
  #heroright {
    width: 20%;
  }
  #heroright p {
    text-align: right;
    font-size: 0.8rem;
  }
  #heroright #imagediv {
    margin-top: 0.9rem;
    margin-bottom: 1.5rem;
  }
  #heroright p:nth-child(3) {
    margin-bottom: 1.5rem;
  }
}
@media screen and (max-width: 800px) {
  #heroleft .elem {
    top: 20%;
    height: 15%;
  }
  #heroleft .elem h1 {
    font-size: 4rem;
  }
  #heroleft button {
    margin-top: 7rem;
  }
  #heroright {
    width: 35%;
  }
  #heroright p {
    text-align: right;
    font-size: 0.8rem;
  }
  #heroright #imagediv {
    margin-top: 0.9rem;
    margin-bottom: 1.5rem;
  }
  #heroright p:nth-child(3) {
    margin-bottom: 1.5rem;
  }
}
